:root {
  --accent: #92C47D;
  scroll-behavior: smooth;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.overlay-active {
  display: block;
}

h3 {
  font-weight: bold;
}

.range {
  text-transform: uppercase;
  font-size: 12px;
  font-feature-settings: "lnum" on;
  -webkit-font-feature-settings: "lnum" on;
  -moz-font-feature-settings: "lnum" on;
}

.num {
  font-feature-settings: "lnum" on;
}

.accent {
  color: var(--accent);
}

.subtitle {
  font-family: "Josefin Sans", "Muli", Helvetica, sans-serif;
  margin-bottom: 0;
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

.subsubtitle {
  font-size: 1.3rem;
  font-feature-settings: "lnum" on;
  text-align: left;
}

.job {
  font-size: 1.9rem;
  margin-bottom: 0;
}

.top {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.nav {
  text-transform: uppercase;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #222;
  padding: 10px;
  display: inline-block;
  transition: 0.2s;
  border-bottom: 1px solid #fff;

}

.nav-link:hover {
  border-bottom: 1px solid #222;
  color: #222;
}

.current {
  border-bottom: 1px solid #222;
  cursor: pointer;
  margin-bottom: 0;
}

.middle {
  margin: 0 1rem;
}

.bio {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.bio-img {
  padding-top: 3rem;
}

.title {
  text-transform: uppercase;
  color: var(--accent);
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid var(--accent);
  font-size: 2.5rem;
}

.project {
  margin-top: 2.5rem;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
  font-feature-settings: "lnum" on;
  -webkit-font-feature-settings: "lnum" on;
  -moz-font-feature-settings: "lnum" on;
  font-size: .9rem;
}

.mobile-header {
  display: flex;
  padding-top: 1rem;
}

.second-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  padding: 1rem 0 0 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 85%;
  max-width: 1000px;
}

.item-wrapper {
  flex-direction: column;
  width:100%;
  display: none;
  height: 150px;
}

button {
  padding: 0 0 1rem 0;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-left: 2rem;
}

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  padding: 2rem 2rem 0 2rem;
  box-sizing: border-box;
  z-index: 3;
}

.desktop-header {
  display: none;
}

.id {
  height: 58px;
}

@media (min-width: 550px) {
  .mobile-header {
    display: none;
  }

  .subtitle, .subsubtitle {
    text-align: right;
  }

  .subtitle {
    padding-top:3px;
  }

  .subsubtitle {
    padding-top: 2px;
  }

  .overlay {
    display: none;
  }

  .bio-img{
    padding-top:0;
  }

  .desktop-header {
    display: block;
  }

  .sticky {
    width: inherit;
  }

  .item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
  }

  .top {
    flex-direction: row;
  }

  .nav {
    text-align: right;
  }

  .bio {
    flex-direction: row;
    margin-top: 0;
  }

  .second-nav {
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0;
  }

  .nav-item {
    padding-right: 1rem;
  }

  .logo {
    width: 55%;
    padding-top: 10px;
  }
}

@media (min-width: 898px) {
  .desktop-header {
    width: 100%;
  }

  .logo {
    width: 45%
  }
}
