:root {
  scroll-behavior: smooth;
  --accent: #FFD029;
  --dark: #37362C;
  --grey: #fafafa;
  --white: #ffffff;
  --drop: 2px 2px 8px lightgrey;
  --Ylight: #FAF2D6;
  --Ymid: #FCD447;
  --Ydark: #8E6F02;
  --Olight: #FAE4DC;
  --Omid: #FC8D64;
  --Odark: #C23804;
  --Plight: #EDE8F9;
  --Pmid: #B8A2F4;
  --Pdark: #7247E9;
  --Blight: #DFEEF9;
  --Bmid: #72C0F6;
  --Bdark: #0B69AB;
  --Glight: #E8F2DB;
  --Gmid: #A0D35E;
  --Gdark: #527821;
}

body, a, button, button:hover {
      cursor: url(../images/Cursor.svg), auto;
}

body {
  background-color: var(--grey);
  background-image: url(../images/BG.svg)
}

.active {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

#cursor{
  position: fixed;
  text-align: center;
  pointer-events: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48;
  font-size: 25px;
}

.project h1 {
  margin-bottom: 8px;
}

a.project {
  display: block;
}

.canvas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:8px;
  padding: 16px;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
}

a .canvas:hover {
  box-shadow: var(--drop);
}

.stickies p {
  padding: 16px;
}

.abbott .canvas {
  background-color: var(--Ylight);
  border: 1px solid var(--Ymid);
}

.abbott .cat {
  background-color: var(--Ymid);
  color: var(--dark);
  padding: 0 8px;
  border-radius: 4px;
}

.abbott h6 {
  color: var(--Ydark);
}

.abbott.stickies p {
  background-color: var(--Ymid);
}

.allseater .canvas {
  background-color: var(--Olight);
  border: 1px solid var(--Omid);
}

.allseater .cat {
  background-color: var(--Omid);
  color: var(--dark);
  padding: 0 8px;
  border-radius: 4px;
}

.allseater h6 {
  color: var(--Odark);
}

.allseater.stickies p {
  background-color: var(--Omid);
}

.pointb h6 {
  color: var(--Bdark);
}

.pointb .canvas {
  background-color: var(--Blight);
  border: 1px solid var(--Bmid);
}

.pointb .cat {
  background-color: var(--Bmid);
  color: var(--dark);
  padding: 0 8px;
  border-radius: 4px;
}

.pointb.stickies p {
  background-color: var(--Bmid);
}

.atlasnw h6, .atlasnw h2 {
  color: var(--Gdark);
}

.atlasnw .canvas {
  background-color: var(--Glight);
  border: 1px solid var(--Gmid);
}

.atlasnw .cat {
  background-color: var(--Gmid);
  color: var(--dark);
  padding: 0 8px;
  border-radius: 4px;
}

.atlasnw.stickies p {
  background-color: var(--Gmid);
}

.robo h6, .robo h2 {
  color: var(--Pdark);
}

.robo .canvas {
  background-color: var(--Plight);
  border: 1px solid var(--Pmid);
}

.robo .cat {
  background-color: var(--Pmid);
  color: var(--dark);
  padding: 0 8px;
  border-radius: 4px;
}

.robo.stickies p {
  background-color: var(--Pmid);
}

.maestro h6, .maestro h2 {
  color: var(--Bdark);
}

.maestro .canvas {
  background-color: var(--Blight);
  border: 1px solid var(--Bmid);
}

.maestro .cat {
  background-color: var(--Bmid);
  color: var(--dark);
  padding: 0 8px;
  border-radius: 4px;
}

.maestro.stickies p {
  background-color: var(--Bmid);
}

.space {
  margin-bottom: 50px;
}

.header {
  background-color: var(--dark);
  color: var(--white);
  margin-bottom: 50px;
}

.header_container {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#name {
  font-size: 16px;
  margin: 0;
}

.dropdown_container {
  background-color: var(--white);
  color: var(--dark);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap:24px;
  padding: 16px;
  border-bottom: 1px solid var(--grey);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);
}

.collaborator {
  padding-top: 16px;
  border-top: 1px solid var(--grey);
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dropdown_container .nav_link {
  font-size: 18px;
}

.anim {
  position: relative;
}

.anim::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dark);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

button.anim::after {
  background-color: var(--white);
}

.anim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.head_link {
  font-size: 20px;
  color: var(--dark);
  display: block;
}

.head_active {
  font-size: 20px;
  color: var(--dark);
  display: block;
  position: relative;
  font-weight: 700;
  color: var(--dark);
  border-bottom: 2px solid var(--dark);
}

.head_work {
  margin-right: 20px;
}

.footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 16px 0;
}

.foot {
  font-size: 12px;
  font-weight:400;
  text-align: center;
}

.menu {
  font-size: 35px;
  display: block;
}

.header_line {
  border-bottom: 1px solid var(--dark);
  transition: 0.2s ease;
  opacity: 30%;
  width: 100%;
}

.focus_text {
  font-size: 20px;
  line-height: 38px;
}

.m_hide {
  display: none;
}

.big {
  font-size: 40px;
}

.project_text_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.cta {
  color: var(--dark);
  display: flex;
  flex-direction: row;
  gap:10px;
  transition: 0.2s;
  width: fit-contents;
  align-items: center;
}

.cta:hover {
  gap: 20px;
}

.cta_icon {
  font-size: 19px;
}

.grey {
  background-color: var(--grey);
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  padding: 8px 10px;
  transition: 0.2s;
  border: none;
}

.index {
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  width: fit-content;
  padding: 5px 0;
}

.right:hover {
  padding: 8px 5px 8px 10px;
  gap:10px;
}

#top {
  width:fit-content;
}

.left:hover {
  padding: 8px 10px 8px 5px;
  gap: 10px;
}

.icon_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:5px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.m_gap {
  gap: 20px;
}

.divline {
  height: 1px;
  background-color: var(--dark);
  opacity: 30%;
}

.m-margin-top {
  margin-top:2rem;
}

.project_title {
  justify-content: center;
  gap:20px;
  align-items: flex-start;
}

.d_scroll {
  aspect-ratio: 16/11;
  overflow:scroll;
  border-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.d_border {
  border: 6px solid var(--dark);
}

/*.d_scroll::-webkit-scrollbar {
 display: none;
}*/

.d_scroll_img {
  width:100%;
  margin-bottom: -0.5em;
}

.m_scroll {
  aspect-ratio: 0.5;
  overflow:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 80%;
}

.m_scroll::-webkit-scrollbar {
 display: none;
}

.m_scroll_img {
  width:100%;
  margin-bottom: -0.5em;
}

.m_border {
  border: 6px solid var(--dark);
  border-radius: 32px;
}

.m_border.m_half {
  border-radius: 16px;
}

.scroll_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2em;
  flex-wrap: wrap;
}

.baseline {
  align-items: baseline;
}

.icon_justify {
  justify-content: flex-start;
}

.collage_top {
  display: flex;
  flex-direction: column;
}

.collage_bottom {
  display: flex;
  flex-direction: column;
}

.grid_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap:2em;
  flex-wrap: wrap;
}

.m_half {
  width: 45%;
  overflow: hidden;
}

.foot_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.Ntitle {
  color: var(--white);
}

.L {
  display: none;
}

.foot_container button {
  background-color: var(--dark);
  color: var(--white);
}

/* Mobile Only */
@media only screen and (max-width: 600px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .container {
    margin-top: 100px;
  }

  .foot_container {
    flex-direction: column;
  }

  .m_break {
    display: none;
  }

  .d_break {
    display: block;
  }

  .m_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tag_container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

/* Tablet & Smaller */
@media only screen and (max-width: 900px) {
  .t_hide {
    display: none;
  }

  .about img {
    height: fit-content;
  }
}

/* Tablet */
@media only screen and (min-width: 600px) {

  .canvas {
    padding: 24px;
  }

  .stickies p {
    aspect-ratio: 1/1;
  }

  .auto {
    justify-content: space-between
  }

  .nav_link {
    color: var(--white);
    gap: 8px;
  }

  .footer_container {
    flex-direction: row;
  }

  .d_break {
    display: none;
  }

  .space {
    margin-bottom: 100px;
  }

  .header {
    margin-bottom: 100px;
  }

  .footer {
    height: 76px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .foot {
    display: block;
    margin: 0;
    text-align: center;
  }

  #name {
    font-size: 16px;
  }

  .menu {
    display: none;
  }

  .header_container {
    flex-direction: row;
    height: 76px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 32px;
  }

  .header_line {
    display: none;
  }

  .dropdown_container {
    display: none;
  }

  .icon_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon_grid .material-symbols-outlined{
    font-size:22px;
  }

  .icon_head {
    flex-direction: row;
    gap:20px;
    align-items: center;
  }

  .m_hide {
    display: inline;
  }

  .d_hide {
    display: none;
  }

  .focus_text {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 0;
  }

  .about {
    flex-direction: row;
  }

  .about_text {
    height:inherit;
  }

  .m_gap {
    gap: 0;
  }

  .m-margin-top {
    margin-top:0;
  }

  .project_title {
    justify-content: flex-start;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .d-margin-none {
    margin: 0;
  }

  .d-text-right {
    text-align: right;
  }

  .u-flex-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .scroll_container {
    flex-direction:row;
    gap:0;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .d_scroll {
    aspect-ratio: 16/11;
  }

  .m_scroll {
    aspect-ratio: 0.5;
  }

  .icon_justify {
    justify-content: space-between;
  }

  .collage_top {
    flex-direction: row;
    align-items: flex-start;
  }

  .collage_bottom {
    flex-direction: row;
    align-items: flex-end;
    margin-top: -22%;
  }
  .grid_container {
    justify-content: flex-start;
    flex-wrap:nowrap;
  }

  .m_half {
    width: auto;
  }

  .m_border {
    border: 10px solid var(--dark);
    border-radius: 16px;
  }

  .d_border {
    border: 10px solid var(--dark);
  }

  .one {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .L {
    justify-content: flex-start;
    flex-direction: row;
    height: auto;
    padding: 0;
  }

  .R {
    justify-content: flex-end;
  }

  .header_container {
    height:auto;
  }

  .L a {
    padding: 16px 0;
  }

  .L img {
    width: 18px;
    height: 18px;
  }

  .L {
    gap: 12px;
  }
}

/* Small Desktop  */
@media (max-width: 1100px) {

  .L a {
    padding: 16px 0;
  }

  .L img {
    width: 18px;
    height: 18px;
  }

  .L {
    gap: 12px;
  }
}

/* Desktop */
@media (min-width: 1100px) {

  .space {
    margin-bottom: 150px;
  }

  .focus {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .d_scroll {
    aspect-ratio: 16/11;
  }

  .m_scroll {
    aspect-ratio: 0.5;
  }

  .L a {
    padding: 24px 16px;
  }

  .L a:hover {
    background-color: #181814;
  }
}

/* Large Desktop */
@media (min-width: 1400px) {
  .m_scroll {
    aspect-ratio: 0.5;
  }
}

/* Very Large Desktop */
@media (min-width: 1500px) {
  .m_scroll {
    aspect-ratio: 0.5;
  }

  .m_border {
    border: 10px solid var(--dark);
    border-radius: 32px;
  }
}
