.body, * {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

:root {
  --black: #000;
  --white: #fff;
  --grey: #a6a6a6;
  --c: #00ADE7;
  --m: #EB008C;
  --y: #F8EE06;
  --k: #2b2b2b;
  --serif: 'Playfair Display', Georgia, serif;
  --sans: 'Muli', Arial, sans-serif;
}

.image__nav {
  background-color: var(--k);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: fixed;
}

.image__nav--element {
  color: var(--white);
  font-family: var(--serif);
  font-style: italic;
  text-decoration: none;
  width: calc(100% / 5);
  text-align: center;
  transition: 0.4s;
}

.image__nav--element:hover {
  color: var(--grey);
}

.image__section {
  width: 100%;
  float: left;
  display: flex;
}

.image__section--description-m {
  background-color: var(--m);
  width: 30%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2px;
}

.image__section--description-c {
  background-color: var(--c);
  width: 30%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2px;
}

.image__section--description-y {
  background-color: var(--y);
  width: 30%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2px;
}

.image__section--description-a-y {
  color: var(--k);
}

.image__section--image-m {
  width: 70%;
  float: left;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--m);
  align-items: center;
}

.image__section--image-c {
  width: 70%;
  float: left;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--c);
  align-items: center;
}

.image__section--image-y {
  width: 70%;
  float: left;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--y);
  align-items: center;
}

.image__section--image-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

.image__section--description-h2 {
  color: var(--white);
  font-family: var(--serif);
  font-size: 40px;
  margin: 10px 10% 10px 10%;
}

.image__section--description-p {
  color: var(--white);
  font-family: var(--sans);
  font-size: 14px;
  width: 80%;
  margin: 0 8% 8% 8%;
}

.image__section--description-h2-y {
  color: var(--k);
  font-family: var(--serif);
  font-size: 40px;
  margin: 10px 10% 10px 10%;
}

.image__section--description-p-y {
  color: var(--k);
  font-family: var(--sans);
  font-size: 14px;
  width: 80%;
  margin: 0 8% 8% 8%;
}

.footer {
  background-color: var(--k);
  width: 100%;
  height: 50px;
  color: var(--white);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: var(--grey);
  font-family: var(--sans);
  float: right;
  padding: 10px;
  font-size: 10px;
}

.image__section--image-wrapper--loaders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.loader__gif {
  width: 30%;
  height: 30%;
}

.big {
  width: 90%;
  object-fit: contain;
}
